<div class="main-content">
<div class="row">
   <div class="col-sm-8">
     <div class="question-area">
      Here is a question
     </div>
   </div>
   <div class="col-sm-4 text-center">
     <h1>Own Your Rights</h1><br>
     <p>Lorem ipsum dolor sit amet, quem nibh necessitatibus nec at, in dictas  antiopam reformidans vel, his dictas alienum ei. Illum principes interessetin  pri, nec prima mollis id, assentior appellantur ullamcorper eu cum.Elitr  essent et qui, cum malis nullam definiebas in, an senseritcomprehensam cum. Et  usu graece suscipiantur, qui cu regione maiestatis, pereros oratio ad. </p>
     <p>Lorem ipsum dolor sit amet, quem nibh necessitatibus nec at, in dictas  antiopam reformidans vel, his dictas alienum ei. Illum principes interessetin  pri, nec prima mollis id, assentior appellantur ullamcorper eu cum.Elitr  essent et qui, cum malis nullam definiebas in, an senseritcomprehensam cum. Et  usu graece suscipiantur, qui cu regione maiestatis, pereros oratio ad. </p>
   </div>
 </div>
 <div class="row">
   <div class="col-sm-8">
     <img src="/assets/megaphone.png" alt="">
   </div>
   <div class="col-sm-4 text-center">
     <button class="btn more-resources">More Resources</button>
  </div>
</div>
</div>